.footer-top {
  background-color: #2e2e54;
  ul {
    li {
      line-height: 1.3rem;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-bottom {
  background-color: #f1f1f1;
}
.footer-middle {
  background-color: #ffffff;
}
