@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .top-link {
    @apply px-5  hover:underline hover:text-red-500 font-bold;
  }
  .channel {
    @apply bg-white p-2 flex lg:rounded-3xl shadow-sm font-bold hover:shadow-xl hover:text-orange-500;
  }
}
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
